body {
	font-size: 1.2rem;
	font-family: -apple-system,BlinkMacSystemFont,
	Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
	text-shadow: 1px 1px 1px rgba(0,0,0,.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: #fff;
  overflow-x: hidden;
}

.text-primary { color: #3cdcd2 !important; }
.text-secondary { color: #00325a !important; }
.text-light { color: #f1f1f1 !important; }
.text-light-100 { color: #9B9B9B !important; }
.text-gray { color: #6B6F88 !important; }
.text-dark { color: #494F5D !important; }

.text-danger { color: #E46D7C !important; }
.text-info { color: #4A90E2 !important; }
.text-success { color: #73A638 !important; }

.back-ground-primary { background-color: #3cdcd2 !important; }
.back-ground-secondary { background-color: #00325a !important; }
.back-ground-light { background-color: #f1f1f1 !important; }
.back-ground-gray { background-color: #6B6F88 !important; }
.back-ground-dark { background-color: #494F5D !important; }

.has-err { 
	border-width: 1px !important;
	border-color: #E46D7C !important;
}

.err-message {
	height: 21px;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.navbar-wrap { z-index: 6; }

@media only screen and (max-width: 575px) {
	.navbar-brand { 
		margin-left: auto;
		margin-right: auto;
	}

	.nav-link { 
		margin-top: 2em;
		font-size: 12px;
	}
}

@media only screen and (max-width: 320px) {
	.nav-link { font-size: 9px; }	
}

.page-header {
	position: relative;
	height: 383px;
	padding-top: 6em;
	background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-position: center center;
	
	-webkit-background-size: cover;
		 -moz-background-size: cover;
		   -o-background-size: cover;
					background-size: cover;
}

.page-header::before {
	position: absolute;
	content: '';
	z-index: 1;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background: -moz-linear-gradient(top,  rgba(73,79,93,0.65) 0%, rgba(128,135,150,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(73,79,93,0.65) 0%,rgba(128,135,150,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(73,79,93,0.65) 0%,rgba(128,135,150,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6494f5d', endColorstr='#00808796',GradientType=0 ); /* IE6-9 */
}

.page-header.no-search-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

.page-header .header-text { 
	z-index: 3;
	font-size: 3rem;
}

.search-wrap {
	position: relative; 
	z-index: 4;
	margin-top: -10em;
}

.search-wrap::before {
	position: absolute;
	content: '';
	z-index: -1;
	top: 27px;
	width: calc(100% + 2em);
	height: 165px;
	margin-left: -1em; 
	margin-right: -1em; 
	background-color: #ffffff;
	box-shadow: none;

	border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.search-wrap,
.search-wrap > .d-inline-block {
	background-color: #ffffff;

	-webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
	        border-radius: 10px;
}

.search-wrap .form-container {
	padding: 2.2em;
	padding-bottom: .7em;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
              0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  						0 12.5px 10px rgba(0, 0, 0, 0.06),
  						0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  						0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  						0 100px 80px rgba(0, 0, 0, 0.12);

	-webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
	        border-radius: 10px;
}

@media only screen and (max-width: 575px) {
	.search-wrap .form-container { padding: 1em; }
}

.select,
.textarea,
.input,
.input-group-btn .input {
	position: relative;
  width: 100%;
  font-weight: bold;
  color: #494F5D;
  border: 1px solid transparent;
  outline: none;
  
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  -webkit-box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
  				box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
}

.input-group-btn .input {
	border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media only screen and (max-width: 768px) {
	.input-group-btn .input {
		border-top-right-radius: 4px;
	  border-bottom-right-radius: 4px;
	}
}

.select,
.textarea,
.input {
	border-left-color: rgba(151, 151, 151, .10);
  border-top-color: rgba(151, 151, 151, .10);
  border-right-color: rgba(151, 151, 151, .10);
}

.select:hover,
.textarea:hover,
.input:hover {
	-webkit-box-shadow: 0 12px 24px rgba(73, 80, 87, .18);
  				box-shadow: 0 12px 24px rgba(73, 80, 87, .18);
}

.select:focus,
.textarea:focus,
.input:focus {
	-webkit-box-shadow: 0 4px 8px rgba(73, 80, 87, .18);
  				box-shadow: 0 4px 8px rgba(73, 80, 87, .18);
}

.input-group-btn .input { 
	height: 66px;
	padding: 18px 20px;
	padding-left: 56px;
	font-size: 18px;
	border-right-color: transparent;
}

@media only screen and (max-width: 375px) {
	.input-group-btn .input { font-size: 14px; }
}
	
.search-icon {
	position: absolute;
	content: '';
	z-index: 1;
  top: 23px;
  left: 23px;
  width: 24px;
  height: 24px;
	background: transparent no-repeat url('../img/icons/search.svg') center center; 
	
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	   	 -o-background-size: cover;
			-ms-background-size: cover;
					background-size: cover;
}

.textarea::-webkit-input-placeholder,
.input::-webkit-input-placeholder {
  color: #6B6F88;
}

.textarea:-ms-input-placeholder,
.input:-ms-input-placeholder {
  color: #6B6F88;
}

.textarea::placeholder,
.input::placeholder {
  color: #6B6F88;
}

.input-group-btn .input-btn,
.input-btn-responsive {
  width: 100%;
  padding: 18px 20px;
  border: 1px solid transparent;
  border-top-color: #00325a;
  border-right-color: #00325a;
  border-bottom-color: #00325a;
  outline: none;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  -webkit-box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
  				box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
}

.input-group-btn .input-btn {
	-webkit-border-top-right-radius: 4px;
		 -moz-border-top-right-radius: 4px;
					border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  	 -moz-border-bottom-right-radius: 4px;
  				border-bottom-right-radius: 4px;
}

.input-btn-responsive {
	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
	        border-radius: 4px;
}

.input-group-btn .input-btn:hover,
.input-btn-responsive:hover,
.input-group-btn .input-btn:focus,
.input-btn-responsive:focus {
	-webkit-box-shadow: 0 12px 24px rgba(73, 80, 87, .18);
  				box-shadow: 0 12px 24px rgba(73, 80, 87, .18);
}

.select {
	padding: 15px 20px;
	font-size: 14px;
	background: #ffffff url('../img/icons/chevron-down.svg') no-repeat;
	background-position: calc(100% - 20px) center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media only screen and (max-width: 1024px) {
	.select { font-size: 12px; }
}

.select.has-placeholder {
	color: #6B6F88 !important;
}

.checkbox {
	top: 0;
	left: 0;
}

.contact-checkbox {
	padding-left: 2.5em;
	font-size: 14px;
	cursor: pointer;
}

.contact-checkbox::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 21px;
	height: 21px;
	background-color: transparent;
	border: 3px solid #00325a;

	-webkit-border-radius: 50%;
		 -moz-border-radius: 50%;
	        border-radius: 50%;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.checkbox:checked ~ .contact-checkbox::before { background-color: #3cdcd2; }

.dropdown-wrap .header-text {
	font-size: 14px;
	font-weight: bold;
}

.slick-slide { outline: none; }

.slider-wrap {
	position: relative;
	padding-top: 3em; 
	margin-top: 6.5em;
}

.slide-nav-wrap {
	z-index: 3;
  top: 50%;
  left: -30px;
  width: calc(100% + 60px);
  transform: translateY(-50%);
}

.slide-nav {
	padding: 2em;
	top: 50%;
	width: 79px;
	height: 79px;
	border: 0;
	background: #ffffff no-repeat center center;
	transform: translateY(-50%);
  outline: none;
	
	-webkit-transition: all .2s ease-in-out; 
	   -moz-transition: all .2s ease-in-out; 
			 -o-transition: all .2s ease-in-out; 
					transition: all .2s ease-in-out; 

  -webkit-appearance: none;
     -moz-appearance: none;
  			  appearance: none;

  -webkit-border-radius: 50%;
		 -moz-border-radius: 50%;
	        border-radius: 50%;

  -webkit-box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
  				box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
}

@media only screen and (max-width: 575px) {
	.slide-nav {
		padding: 0;
		width: 59px;
		height: 59px;
	}
}

.slide-nav:focus { outline: none; }

.slide-nav:hover { 
	-webkit-box-shadow: 0 4px 8px rgba(73, 80, 87, .18);
  				box-shadow: 0 4px 8px rgba(73, 80, 87, .18);
}

.slide-nav::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.slide-nav.prev { 
	background-image: url('../img/icons/slider-chevron-left.svg');
	left: -25px;
}

.slide-nav.next { 
	background-image: url('../img/icons/slider-chevron-right.svg');
	right: -25px;
}

@media only screen and (max-width: 575px) {
	.slide-nav.prev { left: 0; }
	.slide-nav.next { right: 0; }
	
	.slide-nav.next, 
	.slide-nav.prev {
	-webkit-background-size: 10px;
		 -moz-background-size: 10px;
		   -o-background-size: 10px;
					background-size: 10px;
	}
}

.slider-wrap::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	width: 246px;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	background-color: #00325a;

	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
	        border-radius: 4px;
}

.slider-wrap .header-text { font-weight: bold; }

.tile-gallery .slick-list { padding: 1.5em 30px !important; }

.tile,
.tile-preview {
	-webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
	        border-radius: 8px;

  -webkit-transition: all .2s ease-in-out; 
	   -moz-transition: all .2s ease-in-out; 
			 -o-transition: all .2s ease-in-out; 
					transition: all .2s ease-in-out; 

  -webkit-box-shadow: 0 8px 40px rgba(0, 0, 0, .12);
  				box-shadow: 0 8px 40px rgba(0, 0, 0, .12);
}

.tile:hover,
.tile-preview:hover {
-webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, .18);
				box-shadow: 0 4px 24px rgba(0, 0, 0, .18);	
}

.tile-preview a, 
.tile-preview a:focus { 
	text-decoration: none; 
	outline: none;
}

.tile .header-img-preview {
	width: 100%;
	height: 186px;
	background-repeat: no-repeat;
	background-position: center center;

	 -webkit-border-top-left-radius: 8px;
  		-moz-border-top-left-radius: 8px;
	         border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
		 -moz-border-top-right-radius: 8px;
	        border-top-right-radius: 8px;

	-webkit-background-size: cover;
	   -moz-background-size: cover;
	   	 -o-background-size: cover;
			-ms-background-size: cover;
					background-size: cover;
}

@media only screen and (max-width: 1024px) {
	.property-caption .header-meta { font-size: 1.45rem; }
}

.property-caption .meta-desc { font-size: 16px; }
.property-caption .meta-desc-label { font-size: 14px; }

/*@media only screen and (max-width: 1024px) {
	.property-caption .meta-desc { font-size: 14px; }
} */

.main-footer { 
	margin-top: 4.5em;
	border-top: 1px solid #D8D8D8;
}

.main-footer .powered-by {
  font-size: 14px;
  line-height: 1.7;
  vertical-align: text-bottom;
}

.main-footer .header-text { font-size: 14px; }

.main-footer .header-text::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 35px;
	height: 1px;
	background-color: #D8D8D8;
}

@media only screen and (max-width: 575px) {
	.main-footer .header-text::before {
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}
}

.site-map-links { 
	font-size: 14px;
}

.site-map-links a { 
	color: currentColor;
	text-decoration: none;

	-webkit-transition: all .2s ease-in-out; 
	   -moz-transition: all .2s ease-in-out; 
			 -o-transition: all .2s ease-in-out; 
					transition: all .2s ease-in-out;
}

.site-map-links a:hover,
.site-map-links a:focus { color: #6B6F88; }

.social-media-link {
	text-decoration: none;
	outline: 0;
}

.social-media-link > img { 
	opacity: 1;

	-webkit-transition: all .2s ease-in-out; 
	   -moz-transition: all .2s ease-in-out; 
			 -o-transition: all .2s ease-in-out; 
					transition: all .2s ease-in-out;
}

.social-media-link:focus > img,
.social-media-link:hover > img { opacity: .8; }

.slider-wrap.property-page { 
	margin-top: 2.5em;
	margin-bottom: 3.1em;
}

.slider-wrap.property-page:before { display: none; }

.property-info-wrap,
.search-info-wrap,
.brands-info-wrap { z-index: 5; }

.property-page .tile-gallery .slick-list,
.property-page .slick-slide,
.property-page .tile-preview,
.property-page .tile,
.property-page .tile .header-img-preview {
	-webkit-border-radius: 12px;
		 -moz-border-radius: 12px;
  	      border-radius: 12px;
}

.property-page .tile-preview {
	-webkit-box-shadow: none;
					box-shadow: none;
}

.property-page .tile { margin-bottom: 0; }

.property-page .tile .header-img-preview { height: 311px; }

.property-page .tile-gallery .slick-list { padding: 0 !important; }


.property-page .tile-gallery {
	padding: 1.2em;
	background: #ffffff;

	-webkit-border-radius: 18px;
		 -moz-border-radius: 18px;
  	      border-radius: 18px;

	-webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
  				box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
}

.status-available { color: #73A638; }
.status-pending { color: #4A90E2; }
.status-sold { color: #E46D7C; }

.status-wrap { margin-bottom: 2.5em; }

.section-info + .section-info {
	margin-top: 1.5em;
	padding-top: 1.5em;
	padding-bottom: 1em;
	border-top: 1px solid #D8D8D8;
}

.section-info p { line-height: 1.7; }

.map-wrap {
	padding: 1.2em;
	background: #ffffff;

	-webkit-border-radius: 18px;
		 -moz-border-radius: 18px;
  	      border-radius: 18px;

	-webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
  				box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
}

.map-wrap .map-area {
	-webkit-border-radius: 12px;
		 -moz-border-radius: 12px;
  	      border-radius: 12px;
}

.property-contact-info {
	margin-top: 2.5em; 
	padding-top: 3em;
	padding-left: 4.5em;
}

@media only screen and (max-width: 768px) {
	.property-contact-info {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}
}

@media only screen and (max-width: 575px) {
	.property-contact-info {
		margin-top: 0;
		padding-top: 0;
		padding-left: 1em;
		padding-right: 1em;
	}
}

.property-contact-info .section-info {
	margin-top: .5em;
	padding-top: 1.5em;
	padding-bottom: .5em;
}

.contact-form {
	padding: 2em;
	border-right-color: rgba(151, 151, 151, .10);
	background-color: #ffffff;

	-webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
  	      border-radius: 8px;

  -webkit-transition: all .2s ease-in-out; 
	   -moz-transition: all .2s ease-in-out; 
			 -o-transition: all .2s ease-in-out; 
					transition: all .2s ease-in-out;

	-webkit-box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
  				box-shadow: 0 16px 40px rgba(0, 0, 0, .12);
}

@media only screen and (max-width: 1024px) {
	.contact-form { padding: 1em; }
}

.contact-form:hover {
	-webkit-box-shadow: 0 16px 60px rgba(0, 0, 0, .10);
  				box-shadow: 0 16px 60px rgba(0, 0, 0, .10);
}

.contact-form .input,
.contact-form .textarea {
	padding: 12px 20px;
	font-size: 14px;

	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
  	      border-radius: 4px;
}

.contact-form .textarea {
	resize: vertical;
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;	
}

.contact-form .err-message {
	height: 16px;
	font-size: 12px;
}

.contact-form .contact-form-btn {
	width: 100%;
  padding: 8px 20px;
  border: 1px solid transparent;
  outline: none;

  -webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
  	      border-radius: 4px;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  -webkit-box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
  				box-shadow: 0 8px 16px rgba(73, 80, 87, .18);
} 

.search-result-header {
	margin-top: 2.5em; 
	padding-top: 3em;
	border-bottom: 1px solid #D8D8D8;
}

.view-property-btn {
	width: 50px;
	height: 50px;
	background-color: #ffffff;
	border: 1px solid rgba(151, 151, 151, .10);

	-webkit-border-radius: 50%;
		 -moz-border-radius: 50%;
  	      border-radius: 50%;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

	-webkit-box-shadow: 0 4px 8px rgba(73, 80, 87, .30);
  				box-shadow: 0 4px 8px rgba(73, 80, 87, .30);	
}

.view-property-btn:hover {
  -webkit-box-shadow: 0 8px 16px rgba(73, 80, 87, .20);
  				box-shadow: 0 8px 16px rgba(73, 80, 87, .20);
}

.view-property-btn:focus {
  -webkit-box-shadow: 0 4px 8px rgba(73, 80, 87, .50);
  				box-shadow: 0 4px 8px rgba(73, 80, 87, .50);	
}

.page-wrap {
	margin-top: 1em;
  padding-top: 3em;
  border-top: 1px solid #D8D8D8;
}

.page-wrap .pagination-prev,
.page-wrap .pagination-next { font-size: 12px; } 

.page-wrap .prev-page-btn,
.page-wrap .next-page-btn {
	width: 45px;
	height: 45px;
	padding: .6em;
	background-color: #ffffff;
	border: 1px solid rgba(151, 151, 151, .10);
	-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

	-webkit-border-radius: 50%;
		 -moz-border-radius: 50%;
  	      border-radius: 50%;

  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

	-webkit-box-shadow: 0 6px 12px rgba(73, 80, 87, .18);
  				box-shadow: 0 6px 12px rgba(73, 80, 87, .18);
}

.page-wrap .prev-page-btn:hover,
.page-wrap .next-page-btn:hover {
	-webkit-box-shadow: 0 4px 8px rgba(73, 80, 87, .20);
  				box-shadow: 0 4px 8px rgba(73, 80, 87, .20);
}

@media only screen and (max-width: 575px) {
	.page-wrap .prev-page-btn,
	.page-wrap .next-page-btn {
		width: 100%;
		-webkit-border-radius: 4px;
			 -moz-border-radius: 4px;
	  	      border-radius: 4px;
	}
}

.page-wrap .pagination {
	background-color: #ffffff;
	border: 1px solid #f1f1f1;

	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
  	      border-radius: 4px;

  -webkit-box-shadow: 0 8px 16px rgba(73, 80, 87, .12);
  				box-shadow: 0 8px 16px rgba(73, 80, 87, .12);
}

.page-wrap .pagination .pagination-link + .pagination-link { border-left: 1px solid #D8D8D8; }

.page-wrap .pagination-link a { 
	color: #9B9B9B; 

	-webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

.page-wrap .pagination-link a:hover, 
.page-wrap .pagination-link a:hover { color: #494F5D; } 

.page-wrap .pagination-link .active-page { 
	color: #494F5D;
	pointer-events: none;
}

.brands-info-wrap .tile .header-img-preview {
	height: auto;

	-webkit-border-top-left-radius: 8px;
  		-moz-border-top-left-radius: 8px;
	         border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 0;
		 -moz-border-top-right-radius: 0;
	        border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 8px;
		 -moz-border-bottom-left-radius: 8px;
	        border-bottom-left-radius: 8px;
}

.brands-info-wrap .view-list {
	-webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

	-webkit-box-shadow: 0 8px 16px rgba(73, 80, 87, .12);
  				box-shadow: 0 8px 16px rgba(73, 80, 87, .12);
}

.brands-info-wrap .view-list:hover {
	-webkit-box-shadow: 0 5px 10px rgba(73, 80, 87, .20);
  				box-shadow: 0 5px 10px rgba(73, 80, 87, .20);	
}

.brands-info-wrap .view-list.not-available {
	pointer-events: none;
	opacity: .4;
	box-shadow: none;
}

.brands-info-wrap .view-list.not-available .view-link {
	text-decoration: line-through !important;
}

.brands-info-wrap .view-link-wrap .view-link {
	font-size: 12px;
	color: #9B9B9B;

	-webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
	.brands-info-wrap .view-link-wrap .view-link { font-size: 9px; }
}

@media only screen and (max-width: 768px) {
	.brands-info-wrap .view-link-wrap .view-link { font-size: 12px; }
}

.brands-info-wrap .view-link-wrap .view-link:hover { color: #494F5D; }

.agency-preview {
	padding: 5em;
	background: #f1f1f1 no-repeat center center;
	-webkit-background-size: contain;
		 -moz-background-size: contain;
		   -o-background-size: contain;
					background-size: contain;

	-webkit-border-radius: 4px;
		 -moz-border-radius: 4px;
  	      border-radius: 4px;
}

.content-wrap h1 { font-size: 3.5rem; }
.content-wrap p { line-height: 1.7; }

@media only screen and (max-width: 575px) {
	.content-wrap h1 { font-size: 1.5rem; }
}



